/*.home {
    height: 90vh;
    background-image: linear-gradient(90deg, #253983 50%, rgb(177, 31, 31) 50%);
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .home-page .home-div p{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    color: #3e64ff;
    letter-spacing: 4px;
    margin-bottom: 20px;
  }
  
  .home-page .home-div h1{
    font-size:40px;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 30px;
  
  }*/
  
 